.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Events
  .btn-toolbar.mb-2.mb-md-0
    = link_to 'New Event', new_admin_event_path, class: 'btn btn-primary'

.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th{scope: "col"} Title
        %th{scope: "col"} Date
        %th{scope: "col"} Address
        %th{scope: "col"} Assistants
        %th{scope: "col"} Actions
    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= event.date&.strftime('%Y-%m-%d %H:%M')
          %td= event.address
          %td
            %span.badge.bg-secondary= event.assistants.count
          %td
            = link_to 'Show', admin_event_path(event), class: 'btn btn-sm btn-outline-primary'
            = link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-sm btn-outline-secondary'
            = link_to 'Delete', admin_event_path(event), method: :delete, 
              confirm: 'Are you sure?', class: 'btn btn-sm btn-outline-danger'